/* style.css */

/* style.css */

/* Style pour la barre de navigation principale */
.navbar {
  background-color: #343a40; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  padding: 10px; /* Espacement interne */
  border-radius: 5px; /* Bord arrondi */
}

/* Style pour les liens de navigation */
.nav-link-custom {
  color: #fff !important; /* Couleur du texte */
  font-size: 18px; /* Taille de la police */
}

/* Style pour le menu déroulant */
.dropdown-menu-custom {
  background-color: #343a40; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
}

/* Style pour le titre de l'offcanvas */
.offcanvas-title {
  color: #343a40; /* Couleur du texte */
}

/* Style pour les boutons */
.btn {
  margin-bottom: 10px; /* Marge en bas */
}

/* Style pour le formulaire de recherche */
.form-control {
  border-radius: 0; /* Pas de bord arrondi */
}

/* Style pour le bouton de recherche */
.btn-success {
  background-color: #28a745; /* Couleur de fond */
  border-color: #28a745; /* Couleur de bord */
}

/* Hover style pour le bouton de recherche */
.btn-success:hover {
  background-color: #218838; /* Couleur de fond au survol */
  border-color: #1e7e34; /* Couleur de bord au survol */
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
}

.image {
  width: 100%;
  height: auto;
}
