/* Container principal du tableau de bord CRM */
.crm-board {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: #f5f5f5; /* Couleur de fond bleu douce */
}

/* Conteneur des étapes (stages) */
.stages-container {
  display: flex;
  overflow-x: auto; /* Ajouter une barre de défilement horizontale si nécessaire */
}

/* Style des étapes (stages) */
.stage {
  flex: 0 0 auto; /* Taille flexible pour s'adapter au contenu */
  background-color: #e0e0e0; /* Couleur de fond pour les étapes */
  padding: 20px;
  margin-right: 20px;
  border-radius: 8px;
  width: 200px; /* Largeur uniforme pour toutes les étapes */
}

/* Style des opportunités */
.opportunity {
  background-color: #f2f5f9; /* Couleur de fond bleu marine */
  color: #090909; /* Couleur du texte blanc */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
}

/* Style lors du survol */
.opportunity:hover {
  background-color: #27ae60; /* Variation de couleur de fond au survol */
}

/* Style lors du clic */
.opportunity:active {
  background-color: #27ae60; /* Variation de couleur de fond lors du clic */
}

/* Style lorsque l'opportunité est en cours de déplacement */
.opportunity.dragging {
  opacity: 0.5;
  z-index: 999; /* Mettre au premier plan pendant le déplacement */
}

/* Nouvelle étape (stage) */
.new-stage {
  margin-bottom: 20px;
  text-align: center;
}
/* Style de la boîte de dialogue de commentaire */
.comment-form-popup {
  position: fixed; /* Position fixe pour rester visible même en faisant défiler */
  top: 50%; /* Alignement vertical au centre */
  left: 50%; /* Alignement horizontal au centre */
  transform: translate(-50%, -50%); /* Centrage absolu */
  background-color: white; /* Couleur de fond */
  padding: 20px; /* Espacement intérieur */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  z-index: 9999; /* Assurez-vous que la boîte de dialogue apparaît au-dessus du reste du contenu */
}

/* Style du bouton de fermeture */
.comment-form-popup button {
  background-color: transparent; /* Fond transparent */
  border: none; /* Pas de bordure */
  position: absolute; /* Position absolue pour faciliter le positionnement */
  top: 10px; /* Espacement depuis le haut */
  right: 10px; /* Espacement depuis la droite */
  cursor: pointer; /* Curseur pointeur */
}

/* Style du bouton de soumission */
.comment-form-popup button[type="submit"] {

  margin-right: 10px;
  background-color: #27ae60; /* Couleur de fond */
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  padding: 10px 20px; /* Espacement intérieur */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur pointeur */
 
 
  transition: background-color 0.3s ease; /* Animation de transition */
}

/* Style du bouton de fermeture */
.comment-form-popup button.close-btn {


  margin-left: 10px;
  background-color: transparent; /* Fond transparent */
  color: #888; /* Couleur du texte */
  font-size: 16px; /* Taille de la police */
  border: none; /* Pas de bordure */
  padding: 5px 10px; /* Espacement intérieur */
  border-radius: 5px; /* Coins arrondis */
  cursor: pointer; /* Curseur pointeur */
  transition: background-color 0.3s ease; /* Animation de transition */
}

/* Style du bouton de fermeture au survol */
.comment-form-popup button.close-btn:hover {
  color: #555; /* Variation de couleur du texte */
  background-color: #f2f2f2; /* Variation de couleur de fond */
}

.dropdown-menu {
  position: absolute;
  top: 20px;
  right: 0;
  border: 1px solid #ccc;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 8px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}
