.forms{
    display: flex;
    justify-content: center;
     align-items: center;
     background-color: rgba(230, 169, 248, 0.432);
     width: 400px;
    height: 400px;
     margin-top: 200px;
     padding: 40px 60px;
     border-radius: 10px;
     min-width: 300px;
     

}
.forms h1{
    height: 70px;
    color: rgb(35, 3, 94);
    text-align: center;
   
}
.social-media{
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.social-media p{
    padding: 5px;
    margin-left: 10px;
    border: 1px solid rgba(26, 11, 235, 0.575);
    border-radius: 100%;
    width:35px ;
    text-align: center;
    cursor: pointer;
}
p.chose-email{
text-align: center;
color: blue;

}
.inputs{
    display: flex;
    flex-direction: column;


}
.inputs input[type="email"], input[type="password"]{
padding: 10px;
border-radius: 5px;
border: none;
background-color: rgb(125, 128, 131);
margin-bottom: 15px;
outline: none;
}
p.inscription{
    font-size: 14px;
    margin-bottom: 20px;
    color:blue;
}

p.inscription span{
    color: brown;
}